<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <link href="/stylesheets/site.css" type="text/css" rel="stylesheet">
    <link rel='shortcut icon' type='image/x-icon' href='/images/favicon.png' />
</head>
<body>
    <div class="container">
        
         {{#if user}}
            {{>authHeader}}
        {{else}}
            {{>noAuthHeader}}
        {{/if}}
       
       {{#if errors}}
        <div id="notifications">
                {{#each errors}}
                    <p id="notification-message">{{this.msg}}</p>
                {{/each}}
        </div>
        {{/if}}
        <main>{{{body}}}</main>
        
    </div>
        {{>footer}}
</body>
</html>